<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body>
  <% if (typeof script === 'string') {%>
    <div>
      <%= script %>
    </div>
    <% } %>

  <h1>Have fun! 🥔</h1>
  
  <form id="menu_form" action="/api/orders" method="POST">
    <div class="form-inline" class="form-group mb-2">
      <label for="Rice">Rice</label>
      <input style= 'margin-left:4em;' class="form-control" type="text" name="Rice" placeholder=0 style="width: 300px; margin: 1em">
    </div>
    
    <div style="display:flex; flex-direction: row; align-items: center; justify-content: center; width: 100%;">
      <button id="order" type="submit" class="btn btn-primary">order</button>
    </div>
  </form>

</body>

</html>